/* Header styles */
.header-container {
  width: 100%;
  height: 56px;
  color: var(--tertiary);
  margin-bottom: var(--space-lg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding);
}

.header-left {
  display: flex;
  align-items: center;
  gap: var(--space-lg); 
  height: 100%;
}

.header-right {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: flex-end;
}

.header-container mat-icon {
  font-size: 26px;
  cursor: pointer;
}

.header-container p {
  margin: 0;
  font-size: var(--text-md);
  font-family: var(--fonte-titulos);
  user-select: none;
}
