html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    background-color: var(--primary);
}

.main-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo {
    padding: var(--padding);
    color: var(--tertiary);
    font-weight: bold;
    font-size: var(--text-sm);
    font-family: var(--fonte-titulos);
}

/* Top Container Styles */

.top-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--on-primary);
    width: 100%;
}

.top-container {
    background-color: var(--primary);
    height: 20vh;
    color: var(--tertiary);
    margin-bottom: var(--space-lg);
}

.top-container h1 {
    font-size: var(--text-xl);
    font-family: var(--fonte-titulos);
}

/* Bottom Container Styles */

.bottom-container {
    background-color: var(--tertiary);
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding);
    border-radius: 20px 20px 0 0;
}

.bottom-container-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 45vh;
}

.bottom-container .subtitle {
    font-size: var(--text-lg);
    font-weight: bold;
    color: var(--primary);
    text-align: center;
}

a{
    color: var(--primary);
    font-size: var(--text-md);
}

button {
    background-color: var(--primary);
    color: var(--tertiary);
    border: none;
    padding: var(--space-sm);
    font-size: var(--text-base);
    font-weight: bold;
    border: none;
    border-radius: 50px;
    width: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Logo Styles */
.logo-icon {
    width: 100%;
    max-width: 100px;
    height: auto;
    margin-bottom: var(--space-md);
}

.logo-img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

@media (max-width: 480px) {
    .logo-icon {
        max-width: 50px;  
    }

    .logo-img {
        max-width: 150px;  
    }
}
