<div class="main-container">
    <p class="logo">KanaNami</p>
    <div class="top-container">
        <div class="logo-container">
        <img src="https://i.pinimg.com/736x/77/f8/9a/77f89aa6512880343c70a2d216b1334e.jpg" alt="logo-icon" class="logo-icon">
        </div>
        <h1>Bem Vindo(a)!</h1>
        <p>ようこそ！</p>
    </div>

    <div class="bottom-container">
        <div class="bottom-container-content">
        <p class="subtitle">Vamos começar a aprender japonês com o KanaNami !</p>
        <img src="https://i.pinimg.com/736x/77/f8/9a/77f89aa6512880343c70a2d216b1334e.jpg" alt="logo-img" class="logo-img">
        <button routerLink="/cadastro">Cadastrar</button>
        </div>
        
        <a routerLink="/login"><p>Já tem uma conta? Entre nela</p></a>
    </div>
</div>