.layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.conteudo {
  flex: 1;
  overflow-y: auto;
}

/* Barra inferior */

.bottom-nav {
  height: 60px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
}

.bottom-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--tertiary);
  font-size: 12px;
}

.bottom-nav a.ativo {
  opacity: 1;
  font-weight: bold;
  color: var(--secondary);
}

.bottom-nav mat-icon {
  font-size: 24px;
  color: var(--tertiary);
}

.bottom-nav a.ativo mat-icon {
  color: var(--secondary);
}

