.barra-progresso {
  width: 100%;
  height: 10px;
  border-radius: 999px;
  overflow: hidden;
}

.barra-preenchida {
  height: 100%;
  border-radius: 999px;
  transition: width 0.4s ease;
}

.progresso-texto {
  display: flex;
  justify-content: space-between;
  color: var(--tertiary);
  margin-bottom: var(--space-2xs);
}

.default {
  background-color: var(--primary);
  border: 2px solid var(--tertiary);
}

.default .barra-preenchida {
  background-color: var(--tertiary);
}


.primary {
  background-color: transparent;
  border: 2px solid var(--primary);
}

.primary .barra-preenchida {
  background-color: var(--primary);
}
