<div class="main-container">
     <app-header>
      <div header-left>
        <mat-icon>arrow_back</mat-icon>
      </div>
    </app-header>
    <div class="title-container">
        <h1>Login</h1>
    </div>
    <div class="form-container">
        <div class="form-container-content">
            <input type="email" placeholder="E-mail">
            <input type="password" placeholder="Senha">
            <a routerLink="/"><p>Esqueci a senha</p></a>
        </div>
    <button class="button-login">Login</button>
    
    <div class="login-alt">
        <p>Ou</p>
        <button class="google-button">Entrar com Google</button>
    </div>
    <a routerLink="/cadastro"><p>Não possui uma conta? Cadastre-se</p></a>
    </div>
</div>