<main class="main-container">
    <app-header>
      <div header-left (click)="back()">
        <mat-icon>arrow_back</mat-icon>
      </div>
    </app-header>
    
    <section class="form-container">
        <h1>Cadastro</h1>
        <div class="form-container-content">
          <input type="text" placeholder="Nome" [(ngModel)]="nome">
          <input type="text" placeholder="Sobrenome" [(ngModel)]="sobrenome">
          <input type="email" placeholder="Email" [(ngModel)]="email">
          <input type="password" placeholder="Senha" [(ngModel)]="senha">
          <input type="password" placeholder="Confirmar Senha" [(ngModel)]="confirmarSenha">
        </div>
        <button class="button" (click)="cadastrar()">Cadastrar</button>
        <a routerLink="/login"><p>Já tem uma conta? Entre nela</p></a>
    </section>
  </main>